<!doctype html>
                <html>
                  <head>
                    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/style.css')}}">
                    <title>{{title}}</title>
                  </head>
                  <body>
                    <header>
                        <nav class="navbar navbar-dark bg-dark">
                            <a class="navbar-brand"><img src={{file}} alt="здесь должна была быть картинка, но не нашлась" style="width: 50px; height: 50px; text-align: right; border-radius: 50%;"> {{name}} {{surname}}</a><span onclick="openNav()" style='text-align: right; color: #f1f1f1;'>⚙</span>
                        </nav>
                        <div class="icon-bar">
                          <a class="active" href=""></a> 
                          <a href='mail_page'></a> 
                          <a href="search_page"></a>
                        </div>

                    </header>
                    <button class="accordion">Статус</button>
                    <div class="panel">
                      <p>{{about}}</p>
                    </div>
                    <button class="accordion">Мысли</button>
                    <div class="panel">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="accordion">Фото</button>
                    <div class="panel">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>



                    <div id="mySidenav" class="sidenav">
                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                      <a href="#">About</a>
                      <a href="#">Services</a>
                      <a href="#">Clients</a>
                      <a href="/">Logout</a>
                    </div>



                    <script src="{{url_for('static', filename='js/main.js')}}">
                    </script>
                    <script type="text/javascript">
                      function openNav() {
                          document.getElementById("mySidenav").style.width = "250px";
                      }
                      function closeNav() {
                          document.getElementById("mySidenav").style.width = "0";
                      }
                    </script>
                  </body>
                </html>
