<!doctype html>
                <html>
                  <head>
                    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/style.css')}}">
          <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/style1.css')}}">
                    <title>{{title}}</title>
                  </head>
                  <body>
                    <header>
                        <nav class="navbar navbar-dark bg-dark">
                            <a class="navbar-brand"><img src={{file}} alt="здесь должна была быть картинка, но не нашлась" style="width: 50px; height: 50px; text-align: right; border-radius: 50%;"> {{name}} {{surname}}</a><span onclick="openNav()" style='text-align: right; color: #f1f1f1;'>⚙</span>
                        </nav>
                        <div class="icon-bar">
                          <a class="active" href=""></a> 
                          <a href='mail_page'></a> 
                          <a href="search_page"></a>
                        </div>

                    </header>
                    <button class="accordion">Статус</button>
                    <div class="panel">
                      <p>{{about}}</p>
                    </div>
                    <button class="accordion">Мысли</button>
                    <div class="panel">
                      <p>Слушай, Димас, у меня сдача проекта завтра, а я нихуя не сделала, так что не зли меня</p>
                    </div>
                    <button class="accordion">Фото</button>
                    <!-- Container for the image gallery -->
                      <div class="container">

                      <!-- Full-width images with number text -->
                      <ul>
                      {% for i in count %}
                      <div class="mySlides">
                        <div class="numbertext">{{i}} / {{count[-1]}}</div>
                          <img src={{users_files[i-1]}} style="width:50%">
                      </div>
                      {% endfor %}
                      </ul>
                      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                      <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    
                      <!-- Image text -->
                      <div class="caption-container">
                        <p id="caption"></p>
                      </div>
                      <ul>
                      {% for i in count %}
                        <div class="row">
                          <div class="column">
                            <img class="demo cursor" src={{users_files[i-1]}} style="width:100%" onclick="currentSlide({{ i }})" alt='MEME'>
                          </div>
                      {% endfor %}
                      </ul>
                      </div>

                    <div id="mySidenav" class="sidenav">
                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                      <a href="#">About</a>
                      <a href="#">Services</a>
                      <a href="#">Clients</a>
                      <a href="/">Logout</a>
                    </div>



                    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}">
                    </script>
                    <script type="text/javascript" src="{{url_for('static', filename='js/main1.js')}}">
                    </script>
                    <script type="text/javascript">
                      function openNav() {
                          document.getElementById("mySidenav").style.width = "250px";
                      }
                      function closeNav() {
                          document.getElementById("mySidenav").style.width = "0";
                      }
                    </script>
                  </body>
                </html>
