{% extends "base.html" %}

{% block content %}
<p><h1>Введите пароль</h1></p>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.password.label }}
        {{ form.password(class="form-control", type="password") }}
                {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    {{ form.submit(type="reset", value="Очистить поле для входа", class="btn btn-dark") }}
    {{ form.submit(type="submit", value="Войти", class="btn btn-dark") }}
</form>
{% endblock %}
