<!doctype html>
                <html>
                  <head>
                    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
          <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/style2.css')}}">
                    <title>{{title}}</title>
                  </head>
                  <body>
                    <header>  
                        <nav class="navbar navbar-dark bg-dark">
                            <a class="navbar-brand"><img src={{file}} alt="здесь должна была быть картинка, но не нашлась" style="width: 50px; height: 50px; text-align: right; border-radius: 50%;"> {{name}} {{surname}}</a><span onclick="openNav()" style='text-align: right; color: #f1f1f1;'>⚙</span>
                        </nav>
                        <div class="icon-bar">
                          <a href="../acc_page"></a> 
                          <a class="active" href='../mail_page'></a> 
                          <a href="../search_page"></a>
                        </div>
                        <div id="mySidenav" class="sidenav">
                          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                          <a href="../acc_page">Профиль</a>
                          <a href="../mail_page">Почта</a>
                          <a href="../search_page">Поиск</a>
                          <a href="../settings">Настройки</a>
                          <a href="/logout">Выйти</a>
                        </div>
                    </header>
                    <form action="" method="post" novalidate enctype=multipart/form-data>
                    <div class="tab">
                      <p>{{ form.messageform(class="form-control", type="text", placeholder="Введите Ваше сообщение") }}</p>
                      {{ form.submit(type="submit", value="Отправить", class="btn btn-dark") }}
                    </div>
                      {{ form.hidden_tag() }}
                    <div id="Наташа" class="tabcontent">
                      <h3>Чат</h3>
                      <ul>
                      {% for i in messages_gotten %}
                      <p> {{ i }} </p>
                      {% endfor %}
                      </ul>
                    </div>
                          </form>
              <script type="text/javascript">
                    /* Set the width of the side navigation to 250px */
                    function openNav() {
                        document.getElementById("mySidenav").style.width = "250px";
                    }
                    
                    /* Set the width of the side navigation to 0 */
                    function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";
                    }
                  </script>
                  </script>
                  </body>
                </html>
